@use "@common/scss/variables" as *;
@use "@common/scss/breakpoints" as *;

.headline {
  background: url("images/headline/background.png") 0 0/cover no-repeat;
  justify-content: center;
  display: flex;
  position: relative;
  height: 720px;
}

.headline__content {
  padding: 140px 16px 100px;
  position: relative;
  width: 1440px;
  margin: 0 auto;

  @include respond-to(tablet) {
    justify-content: center;
    display: flex;
  }

  @include respond-to(desktop) {
    padding: 230px 135px 180px;
    display: block;
  }
}

.headline__description {
  max-width: 555px;

  @include respond-to(tablet) {
    text-align: center;
  }

  @include respond-to(desktop) {
    text-align: left;
    margin: 0;
  }
}


.headline__logo {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.headline__title {
  letter-spacing: 1px;
  color: $color-white;
  margin: 10px 0 36px;
  font-size: 35px;
  font-weight: 300;
  line-height: 50px;

  b {
    font-weight: 800;
  }
}

.headline__buttons {
  gap: 20px;
  display: flex;

  @include respond-to(tablet) {
    justify-content: center;
  }

  @include respond-to(desktop) {
    justify-content: left;
  }
}

.button {
  letter-spacing: 1px;
  color: #fff;
  background: linear-gradient(163deg, #ff8e64 0%, #ffe641 100%);
  border: none;
  border-radius: 6px;
  min-width: 167px;
  height: 50px;
  font-family: Nunito Sans, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
}

.button_white {
  color: #282b31;
  background: #f8f9fa;
  min-width: 144px;
}

.headline__decoration {
  display: none;

  @include respond-to(desktop) {
    display: inline;
    position: absolute;
    top: 137px;
    right: 179px;
  }
}