@use "@common/scss/variables" as *;
@use "@common/scss/breakpoints" as *;

.timers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  min-height: 840px;
  padding: 80px 16px 113px;

  @include respond-to(tablet) {
    padding: 100px 0 113px;
  }

  @include respond-to(desktop) {
    padding: 250px 0 113px;
  }

  &__title {
    min-width: 100%;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    color: #282b31;

    @include respond-to(desktop) {
      min-width: 570px;
    }

    b {
      margin-right: 1px;
      font-weight: 800;
    }
  }

  &__description {
    max-width: 570px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #676c75;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 40px 0 39px;
    margin-top: 42px;
    border-radius: 12px;
    background-color: $color-white;

    @include respond-to(tablet) {
      width: 770px;
    }

    @include respond-to(desktop) {
      width: 770px;
    }
  }

  &__submit-button {
    min-width: 165px !important;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: #e7e8ea;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}