@use "@common/scss/variables" as *;
@use "@common/scss/breakpoints" as *;

.header {
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding: 0 16px;
  transform: translateX(-50%);

  @include respond-to(desktop) {
    width: 1440px;
    padding: 0 135px;
  }

  &__logo {
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    color: $color-white;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $color-hover-light;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 31px;
  }

  &__links {
    display: none;
    gap: 31.3px;
    margin-left: auto;
    list-style: none;

    @include respond-to(tablet) {
      display: flex;
    }

    @include respond-to(desktop) {
      display: flex;
    }
  }

  &__link {
    font-size: 15px;
    text-decoration: none;
    color: $color-white;
    transition: opacity 0.2s ease;

    &:hover {
      text-decoration: underline;
    }
  }

  &__action-button,
  button {
    min-width: 132px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
  }
}