$font-main: 'Montserrat', sans-serif;

$color-white: #ffffff;
$color-primary: #3a80ba;
$color-dark: #255d8b;
$color-bg-dark: #121212;
$color-light-gray: #e0e0e0;
$color-hover-light: #cce3f5;
$color-text-main: #2c3e50;
$color-text-muted: #7e7e7e;
$color-table-bg-1: #f9fbfd;